<footer class="site-footer">
    <div class="row">
        <div class="col">
            <img src="./assets/images/feu-diliman-library--logo.svg" alt="FEU Library Logo" class="logo">
            <p></p>

        </div>
            <div class="col">
            <h3>Library Academic Office <div class="underline"><span></span></div><h3>
            <p style="font-weight: normal;">Sampaguita Avenue</p>
            <p style="font-weight: normal;">Mapayapa Village III</p>
            <p style="font-weight: normal;">Pasong Tamo, Quezon City 1101</p>
            <p class="email-id">library@feudiliman.edu.ph</p>
        </div>

        <div class="col">
            <h3>Links<div class="underline"><span></span></div></h3>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="/about.html">About Us</a></li>
                <li><a href="/news.html">News</a></li>
                <li><a href="/testimonials.html">Testimonials</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </div>

        <div class="col">
            <h3>Social Media<div class="underline"><span></span></div></h3>
            <div class="social-icons">
                <a href="https://www.facebook.com/FEUDiliman" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/feudiliman_official/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://x.com/feudiliman" target="_blank">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
            </div>
        </div>
    </div>

    <hr>
    <p class="copyright">&copy;2024 FEU Diliman Library. All rights reserved.</p>
</footer>